@font-face {
  font-family: "police";
  src: url(roboto/Roboto-Regular.ttf);
}

:root {
  font-family: "police";
}

@media all and (max-width: 667px) {
  body {
    margin: 0;
  }
  .logo {
    width: 40%;
    margin-left: 105px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .resto {
    width: 100%;
  }
  .titre {
    font-size: 35px;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 15px;
  }
  .section {
    background-color: #f6f6f6;
    border-radius: 40px 40px 0px 0px;
    width: 100%;
    height: 150%;
    margin-top: -40px;
    z-index: 10;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .plat1 {
    text-decoration: none;
    color: black;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 90%;
    height: 90px;
    margin-left: 6px;
    margin-bottom: 12px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .plat1:hover .text {
    width: 60%;
    -webkit-transition: width 400ms;
    transition: width 400ms;
    text-overflow: ellipsis;
  }
  .plat1:hover .text-check, .plat1:hover .text-prix {
    -webkit-transform: translate(0);
            transform: translate(0);
    -webkit-transition: -webkit-transform 400ms;
    transition: -webkit-transform 400ms;
    transition: transform 400ms;
    transition: transform 400ms, -webkit-transform 400ms;
  }
  .text {
    margin: 12px;
    width: 70%;
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .text-menu {
    font-size: 17px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .text-prix {
    font-weight: bold;
    width: 20%;
    margin-right: 5px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .text-prix p {
    padding-top: 65%;
  }
  .text-ligne {
    font-weight: normal;
  }
  .text-descr {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: lighter;
  }
  .text-check {
    width: 60px;
    height: 100%;
    background: #99E2D0;
    overflow: hidden;
    -webkit-transform: translate(100%);
            transform: translate(100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .text-check-icon {
    color: #FFFFFF;
    text-align: center;
    margin: auto;
  }
  .titre1 {
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 20px;
  }
  .trait {
    background-color: #99E2D0;
    height: 3px;
    width: 40px;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .btn {
    border-radius: 20px;
    height: 15px;
    width: 40%;
    margin: 5% auto;
    background: -webkit-gradient(linear, left top, left bottom, from(#d14cb4fb), to(#a75cdc));
    background: linear-gradient(#d14cb4fb, #a75cdc);
    color: #ffffff;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    padding: 10px 0px;
  }
  footer {
    height: 180px;
    background-color: #353535;
    color: white;
    text-decoration: none;
  }
  .logo-footer {
    width: 20%;
    color: white;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 15px;
  }
  .menu-footer {
    color: white;
    -webkit-text-decoration: white;
            text-decoration: white;
  }
  .menu-footer1 {
    margin-left: 15px;
    margin-bottom: 10px;
  }
  .menu-footer2 {
    text-decoration: none;
    color: white;
    margin-left: 5px;
  }
  .menu-footer3 {
    text-decoration: none;
    color: white;
    margin-left: 15px;
    margin-bottom: 10px;
    display: block;
  }
}
/*# sourceMappingURL=style(resto).css.map */