@font-face {
  font-family: "police";
  src: url(roboto/Roboto-Black.ttf);

}

:root{
  font-family: "police";
}


@media all and (max-width: 667px)
{
  
   
body 
{
    margin: 0; 
    position: absolute;
    width:100%;
    height: 100%;
    top: 0;
    animation: spin 3s linear forwards ;
    
}
@keyframes spin {
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(360deg);
  }
}



 .nav{
   margin: 0;
 }
 .logo
   {
    width: 40%;
    margin-left: 105px;
    margin-top: 10px;
    margin-bottom: 10px;
   }
  
  .local 
   {
    width: 100%;
    height: 40px;
    background-color: #eaeaea;
    box-shadow: inset 0px 3px #d5d5d5 ;
    }
    

    .inside-local
    {
     margin-left: 105px;
     padding-top: 10px;
     color: black;
    }
    .local-text
    {
     margin-left: 10px;
    }
   
   
  header 
    {
      background-color: #f6f6f6;
      margin-top: -22px;
      text-align: center;
      height: 300px;

        & p
        {
            font-size: large;
        }
        & h1 
        {
            padding-top: 45px;
        }
        
    }
  .btn
    {
      border-radius: 20px;
      height: 25px;
      width: 60%;
      margin:  auto;
      background: linear-gradient(#d14cb4fb ,#a75cdc);
      color: #ffffff;
      font-weight: 300;
      font-size: 15px;
      text-align: center;
      padding: 10px 0px;
    }
    
  .aside
    {
      margin: 0;
    }
    .texte
    {
      text-decoration: none;
      color: black;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
      background-color: #f6f6f6;
      border-radius: 20px 20px 20px 20px; 
      width: 85%;
      height: 70px;
      margin-left: 25px;
      margin-top: 15px;
      margin-bottom: 12px;
      display: inline-block;
      
      & .cercle
      {
        display: inline-block;


      &-num
      {
        border-radius: 50%;
        background-color: #9356dc;
        position: absolute;
        width: 28px;
        height: 28px;
        color: white;
        text-align: center;
        padding-top: 3px;
        margin-top: 16px;
        margin-left: -10px;
      }
    }

      &-1
      {
        margin-left: 30px;
        margin-top: 24px;
         & .fas
      {
        margin-right: 10px;
        font-size: 20px;
      }
      }
     
    }
   

  section
    { 
      background-color: #f6f6f6;
      width: 100%;
      height: 100%;
      margin: 0;

      & -carte
      {
        width: 100%;
        color: black;
        margin-left: 30px;
        text-decoration: none;

      }
    }


    .titre
     {
         margin-left: 30px;
         font-size: 25px;
         margin-top: 50px;
         margin-bottom: 15px;
     }
     

    .fonction-texte
    {
        text-decoration: none;
        background-color: #f6f6f6;
        border-radius: 15px 15px 15px 15px;
        margin-bottom: 15px;
        height: 70px;
        box-shadow: 5px 5px  #f6f6f6;

        &:hover
        {
          background-color: #d5d5d5;
        }
    
    
         & p
          {
              display: inline-block;
              margin-left: 20px;
              margin-top: 28px;
              font-size: 15px;
          }
    }

    .inside-fonction
     {
        text-decoration: none;
        color: black;
        font-weight: 300;
        font-size: large;
        display: inline-block;
    }

  .section-carte
  {
      text-decoration: none;
      
  }
  .resto
   {

    &-image{
      width: 80%;
      height: 190px;
      border-radius: 20px 20px 0px 0px; 
      margin-top: 15px; 
      margin-left: 37px;
    }

      &-texte {
        width: 80%;
        height: 70px;
        background-color: white;
        margin-top: -19px;
        margin-left: 37px;
        border-radius: 0 0 20px 20px;
        color: black;
        padding-top: 10px;
        padding-left: 5px;
        }

        &-coeur {
          margin-top: 50px;
          position: relative;
      
          &:hover .coeur1 {
              opacity: 1;
              transition: opacity 0.8s ease-in-out;
          }
      
          &:hover .coeur2 {
              opacity: 0;
              transition: opacity 0.8s ease-in-out;
          }
      
          .coeur{
              padding: 5px;
              font-size: 2em;
              position: absolute;  
            
          
           &-1 {
              color: purple;
              opacity: 0;
               }
           &-2  
               {
              opacity: 1;
              }
            }
      }
      }

    footer
     {
         margin-top: 15px;
         height: 180px;
         background-color: #353535;
         color: white;
         text-decoration: none;
     }

    .logo-footer
     {
         width: 20%;
         color: white;
         margin-bottom: 15px;
         margin-top: 15px;
         margin-left: 15px;
     }

     .menu-footer
     {
         color: white;
         text-decoration: white;

         &1
         {
             margin-left: 15px;
             margin-bottom: 10px;
         }
     }
     .menu-footer2 
     {
         text-decoration: none;
         color: white;
         margin-left: 5px;
     }
     .menu-footer3
     {
         text-decoration: none;
         color: white;
         margin-left: 15px;
         margin-bottom: 10px;
         display: block;
     }
     
      

    }