@font-face {
  font-family: "police";
  src: url("../roboto/Roboto-Regular.ttf");
}
:root {
  font-family: "police";
}

@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  margin: 0;
}

.logo {
  width: 20%;
  margin-left: 105px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.resto {
  width: 100%;
}

.titre {
  font-size: 35px;
  font-weight: 600;
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 15px;
  grid-column: 1/4;
  grid-row: 1/2;
}

.section {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0px 0px;
  height: 150%;
  margin-top: -40px;
  z-index: 10;
  position: relative;
  padding-left: 30px;
  margin: 0;
}

.entres {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  gap: 15px;
  margin-left: 40px;
}

.plat1 {
  text-decoration: none;
  color: black;
  box-shadow: 0 5px 10px 0 rgba(14, 13, 13, 0.15);
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  width: 80%;
  height: 90px;
  margin-left: 6px;
  margin-bottom: 12px;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  animation: apparition 2s ease-in-out forwards;
}
.plat1:hover .text {
  width: 60%;
  transition: width 400ms;
  text-overflow: ellipsis;
}
.plat1:hover .text-check, .plat1:hover .text-prix {
  transform: translate(0);
  transition: transform 400ms;
}

.text {
  margin: 12px;
  width: 70%;
  max-width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-menu {
  font-size: 17px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-prix {
  font-weight: bold;
  width: 20%;
  margin-right: 5px;
  transform: translateX(100%);
}
.text-prix p {
  padding-top: 65%;
}
.text-ligne {
  font-weight: normal;
}
.text-descr {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: lighter;
}
.text-check {
  width: 60px;
  height: 100%;
  background: #99E2D0;
  overflow: hidden;
  transform: translate(100%);
  display: flex;
}
.text-check-icon {
  color: #FFFFFF;
  text-align: center;
  margin: auto;
}

.titre1 {
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 20px;
}

.trait {
  background-color: #99E2D0;
  height: 3px;
  width: 40px;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.btn {
  border-radius: 20px;
  height: 15px;
  width: 15%;
  margin: 15% auto;
  margin-bottom: 1%;
  background: linear-gradient(#d14cb4fb, #a75cdc);
  color: #ffffff;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  padding: 10px 0px;
}

footer {
  height: 280px;
  background-color: #353535;
  color: white;
  text-decoration: none;
}

.logo-footer {
  width: 20%;
  color: white;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 15px;
}

.menu-footer {
  color: white;
  text-decoration: white;
}
.menu-footer1 {
  margin-left: 15px;
  margin-bottom: 10px;
  display: flex;
}

.menu-footer2 {
  text-decoration: none;
  color: white;
  margin-left: 5px;
}

.menu-footer3 {
  text-decoration: none;
  color: white;
  margin-left: 15px;
  margin-bottom: 10px;
  display: block;
}

@media all and (max-width: 667px) {
  body {
    margin: 0;
  }

  .logo {
    width: 40%;
    margin-left: 105px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .resto {
    width: 100%;
  }

  .titre {
    font-size: 30px;
    font-weight: bolder;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 15px;
    font-style: italic;
  }

  .section {
    background-color: #f6f6f6;
    border-radius: 40px 40px 0px 0px;
    padding-bottom: 30px;
    margin-top: -40px;
    z-index: 10;
    position: relative;
    padding-left: 0;
  }

  .entres {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
  }

  .plat1 {
    text-decoration: none;
    color: black;
    box-shadow: 0 5px 10px 0 rgba(14, 13, 13, 0.15);
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 95%;
    margin-left: 6px;
    margin-bottom: 12px;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
  }
  .plat1:hover .text {
    width: 60%;
    transition: width 400ms;
    text-overflow: ellipsis;
  }
  .plat1:hover .text-check, .plat1:hover .text-prix {
    transform: translate(0);
    transition: transform 400ms;
  }

  .text {
    margin: 12px 0 0 12px;
    width: 80%;
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .text-menu {
    font-size: 17px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .text-prix {
    font-weight: bold;
    width: 20%;
    margin-right: 5px;
    margin-top: 0;
    transform: translateX(100%);
  }
  .text-prix p {
    padding-top: 65%;
    margin-top: 0;
  }
  .text-ligne {
    font-weight: normal;
  }
  .text-descr {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 100;
    margin-top: 5%;
  }
  .text-check {
    width: 60px;
    height: 100%;
    background: #99E2D0;
    overflow: hidden;
    transform: translate(100%);
    display: flex;
  }
  .text-check-icon {
    color: #FFFFFF;
    text-align: center;
    margin: auto;
  }

  .titre1 {
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .trait {
    background-color: #99E2D0;
    height: 3px;
    width: 40px;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .btn {
    border-radius: 25px;
    width: 50%;
    margin: 30px auto;
    background: linear-gradient(#d14cb4fb, #a75cdc);
    color: #ffffff;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    padding: 15px 0px;
    letter-spacing: 1px;
  }

  footer {
    height: 180px;
    background-color: #353535;
    color: white;
    text-decoration: none;
  }

  .logo-footer {
    width: 20%;
    color: white;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 15px;
  }

  .menu-footer {
    color: white;
    text-decoration: white;
  }
  .menu-footer1 {
    margin-left: 15px;
    margin-bottom: 10px;
    display: flex;
  }

  .menu-footer2 {
    text-decoration: none;
    color: white;
    margin-left: 5px;
  }

  .menu-footer3 {
    text-decoration: none;
    color: white;
    margin-left: 15px;
    margin-bottom: 10px;
    display: block;
  }
}
@media screen and (min-width: 740px) and (max-width: 1024px) {
  body {
    margin: 0;
  }

  .logo {
    width: 20%;
    margin-left: 105px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .resto {
    width: 100%;
  }

  .titre {
    font-size: 35px;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 15px;
  }

  .section {
    background-color: #f6f6f6;
    border-radius: 40px 40px 0px 0px;
    padding-bottom: 30px;
    padding-left: 0;
    margin-top: -40px;
    z-index: 10;
    position: relative;
    width: 100%;
  }

  .entres {
    display: flex;
    flex-direction: column;
  }

  .plat1 {
    text-decoration: none;
    color: black;
    box-shadow: 0 5px 10px 0 rgba(14, 13, 13, 0.15);
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 90%;
    height: 90px;
    margin-left: 6px;
    margin-bottom: 12px;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
  }
  .plat1:hover .text {
    width: 60%;
    transition: width 400ms;
    text-overflow: ellipsis;
  }
  .plat1:hover .text-check, .plat1:hover .text-prix {
    transform: translate(0);
    transition: transform 400ms;
  }

  .text {
    margin: 12px;
    width: 70%;
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .text-menu {
    font-size: 17px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .text-prix {
    font-weight: bold;
    width: 20%;
    margin-right: 5px;
    transform: translateX(100%);
  }
  .text-prix p {
    padding-top: 40%;
  }
  .text-ligne {
    font-weight: normal;
  }
  .text-descr {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: lighter;
  }
  .text-check {
    width: 120px;
    height: 100%;
    background: #99E2D0;
    overflow: hidden;
    transform: translate(100%);
    display: flex;
  }
  .text-check-icon {
    color: #FFFFFF;
    text-align: center;
    margin: auto;
  }

  .titre1 {
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 20px;
  }

  .trait {
    background-color: #99E2D0;
    height: 3px;
    width: 40px;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .btn {
    border-radius: 20px;
    height: 15px;
    width: 20%;
    margin: 5% auto;
    background: linear-gradient(#d14cb4fb, #a75cdc);
    color: #ffffff;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    padding: 10px 0px;
  }

  footer {
    height: 200px;
    background-color: #353535;
    color: white;
    text-decoration: none;
  }

  .logo-footer {
    width: 20%;
    color: white;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 15px;
  }

  .menu-footer {
    color: white;
    text-decoration: white;
  }
  .menu-footer1 {
    margin-left: 15px;
    margin-bottom: 10px;
    display: flex;
  }

  .menu-footer2 {
    text-decoration: none;
    color: white;
    margin-left: 5px;
  }

  .menu-footer3 {
    text-decoration: none;
    color: white;
    margin-left: 15px;
    margin-bottom: 10px;
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
